body {
  min-height: 100vh;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BPG Arial Caps", sans-serif;
}

/* Footer customization */
.footer {
  background-color: var(--color-canvas-subtle);
  color: var(--color-fg-subtle);
  text-align: center;
  padding: 2em 1rem;
  border-top: 1px solid var(--color-border-default);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}

.footer-theme {
  margin-bottom: 10px;
}

.footer-paragraph {
  margin: 10px 0;
}

.footer a {
  color: var(--color-accent-fg);
  text-decoration: none;
  border-bottom: 1px dotted var(--color-accent-fg);
}

.footer a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  margin-block: 12px;
}

.footer-social span {
  margin-right: 0.3em;
  font-weight: 500;
}

.footer-edit {
  margin-block: 12px;
}

#theme-select {
  padding: 0.5em 0.8em;
  border-radius: 6px;
  border: 1px solid var(--color-border-default);
  background-color: var(--color-canvas-subtle);
  color: var(--color-fg-default);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

#theme-select:focus {
  outline: none;
  border-color: var(--color-accent-fg);
}

@media (min-width: 992px) {
  .footer-theme {
    margin-left: auto;
  }
}
